@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto-Regular.ttf");
}
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-Regular", "Helvetica Neue", sans-serif;
}

body {
  font: 16px/26px Roboto-Regular, Helvetica Neue, Arial;
  background-color: #000;
  color: white;
  width: 100%;
}

.navbar {
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.logo {
  color: white;
  /*display: inline-block;*/
  /*border: 2px solid red;*/
}
.hamburger {
  display: none;
}

.nav-item a {
  /*display: inline-block;*/
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: gray;
}

.nav-item:hover a {
  color: #000;
}

.hamburger {
  display: none;
}

.main-container {
  display: flex;
  justify-content: space-between;
  height: 612px;
  padding-top: 100px;
}
.quote {
  margin-top: 30px;
  font-size: 17px;
}
/* Left */

.left {
  padding: 11%;
  /*border: 2px solid red;*/
}
.left-header {
  font-size: 3vw;
  line-height: 1.2;
}

.right {
  padding: 125px 55px 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-up-header {
  font-size: 15px;
  text-transform: uppercase;
}

.form-container {
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  border: 1px solid grey;
  width: 460px;
  border-radius: 1%;
  margin-top: 14px;
}

.form input {
  height: 45px;
  padding: 29px;
  font-size: 18px;
  color: white;
  background: transparent;
  border-top: 1px lightgrey;
  border-left: none;
  border-right: none;
}

.button {
  background: rgb(90, 152, 241);
  color: white;
  font-size: 18px;
  height: 60px;
  padding: 10px;
  border: none;
}

#terms-of-service {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.terms-of-service-container {
  margin-top: 5px;
  font-size: 13px;
  text-align: center;
  line-height: 1;
}

.terms-of-service-container p {
  color: #808080;
}

.copyright {
  padding-left: 53px;
  font-size: 12px;
  font-weight: 400;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #000;
  /* border: 2px solid red; */
  padding-top: 200px;
  padding-bottom: 20px;
}

.footer-nav {
  padding-right: 40px;
}

.footer-nav-links {
  display: inline-flex;
  list-style: none;
  display: flex;
  letter-spacing: 1px;
}

.footer-nav-item a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.footer-nav-item:hover {
  background-color: gray;
}

.footer-nav-item:hover a {
  color: #000;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 414px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    font-size: 10vw;
    padding: 3%;
    display: inline;
  }
}
